*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #222;
}
.blure{
    background-color: #004042;
    padding-top: 50px;
    padding-bottom: 245px;
}
.container{
    margin: auto;
    margin-top: 100px;
    background-color: #006064;
    height: 600px;
    width: 678px;
    /* border-radius: 20px; */
}
label{
    padding: 15px;
    font-size: x-large;
}
h2{
    text-align: center;
    padding: 12px;
}
.inputs-text{
    text-align: left;
}
.inputs-text div{    
    padding: 20px;
    background-color: #00838f;
}
.inputs-text input{
    text-align: center;
    width: 100px;
    height: 25px;
}
.inputs-radio div{
    padding: 20px;
    height: max-content;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: 1fr;
}
#submit{
    padding: 8px 12px;
    color: #fff;
    background-color: #222;
    border: 1px solid #222;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
}
.select{
    padding: 8px 12px;
    color: #fff;
    background-color: #222;
    border: 1px solid #222;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 5px;
    
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.select option{
    background-color: #222;
}
.select option:hover, .select option:focus{
    background-color: #222;
    color: #fff;
}
.select:focus, .select:hover{
    outline: none;
    border: 1px solid #212121;
}
.wynik{
    position: relative;
    display: block;
    text-align: center;
}
.wynik div{
    padding: 0;
}
.wynik-child{
    position: absolute;
    top: 50%;
    padding: 0;
    margin: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}